---
import Navigation from "./Navigation.astro";
---
<div id="grid-overlay"></div>

<main class="container">
    <div class="text">
        <h1 id="typing-text"></h1>
    </div>
    <div class="phone">
        <img src="/assets/phone.png" alt="Celular Render">
    </div>
</main>

<script is:inline src="/script.js"></script>
 <!-- ✅ Carga el JavaScript correctamente -->
</body>
</html>
